@use '../../variables';

.dashboard-container {
  max-width: 800px;
  padding: 35px 0;
  margin: auto;

  .dashboard-container__title {
    color: variables.$main_color;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.dashboard-container__files {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100px;
  padding: 30px 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media (max-width: variables.$desktop) {

  .dashboard-container {
    width: 700px;

    .dashboard-container__title {
      font-size: 20px;
    }
  }
}

@media (max-width: variables.$tablet) {

  .dashboard-container {
    width: 360px;

    .dashboard-container__title {
      font-size: 20px;
      margin-left: 15px;
    }

    .dashboard-container__files {
      padding: 0;
    }
  }
}