@use '../../../variables';

.system-message {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  opacity: 1;
  animation: systemMessageFadeIn 1s forwards;
  animation-delay: 1s;

  .system-message__icon {
    margin-right: 5px;
  }
}

.error {
  color: variables.$error_text_color;
}

.success {
  color: variables.$success_text_color;
}

@keyframes systemMessageFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}