@use '../../variables';

.registration-container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

  .registration-container__register-form {
    max-width: 360px;
    height: 260px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input {
      outline: 0;
      background: variables.$input_color_background;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }

    button {
      text-transform: uppercase;
      outline: 0;
      background: variables.$main_color;
      width: 100%;
      border: 0;
      padding: 15px;
      color: variables.$button_text_color;
      font-size: 14px;
      cursor: pointer;

      &:hover,
      &:active {
        background: variables.$main_color_action;
      }
    }

    .registration-container__description {
      margin: 15px 0 0;
      color: variables.$description_color;
      font-size: 12px;

      a {
        color: variables.$main_color;
        text-decoration: none;
      }
    }

    .registration-container__username-invalid,
    .registration-container__password-invalid,
    .registration-container__email-invalid {
      font-size: 11px;
      margin-top: -13px;
      color: red;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
