@use '../../variables';

.file-container__file {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 222px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  border: 1px solid variables.$main_color;

  .file-container__top-area {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .file-container__file-name-area,
    .file-container__file-comment-area,
    .file-container__file-external-link-area {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: 10px;
    }

    .file-container__filename-edit-button,
    .file-container__comment-edit-button,
    .file-container__file-external-link-button {
      width: 169px;
      height: 16px;
      border: 1px solid variables.$main_color;
    }

    .button_ok,
    .button_cancel {
      width: 63px;
      height: 16px;
      border: 1px solid variables.$main_color;
    }

    .button_cancel {
      border: 1px solid variables.$button_cancel_color;
    }

    .filename-input-wrapper {

      &::before {
        content: 'Имя файла';
      }
    }

    .comment-input-wrapper {

      &::before {
        content: 'Комментарий';
      }
    }

    .file-container__file-external-link {
      width: 478px;

      &::before {
        content: 'Внешняя ссылка';
      }
    }
  }

  .file-container__bottom-area {
    display: flex;
    width: 100%;

    .file-info,
    .input {
      margin-bottom: 0;
    }

    .file-info:not(:first-child) {
      margin-left: 10px;
    }

    .file-container__file-size {
      min-width: 132px;

      &::before {
        content: 'Размер файла';
      }
    }

    .file-container__file-upload-date {
      min-width: 131px;

      &::before {
        content: 'Дата загрузки';
      }
    }

    .file-container__file-download-date {
      min-width: 131px;
      margin-right: 10px;

      &::before {
        content: 'Дата скачивания';
      }
    }

    .button_download {
      width: 70px;
      height: 18px;
      margin-right: 10px;
    }

    .button_delete {
      width: 70px;
      height: 18px;
    }
  }

  .file-info,
  .input {
    position: relative;
    height: 16px;
    padding: 15px 15px;
    margin-bottom: 10px;
    border: 1px solid variables.$main_color;
    font-size: 14px;

    &::before {
      position: absolute;
      top: -6px;
      left: 12px;
      background-color: variables.$main_bg_color;
      font-size: 11px;
      padding: 0 3px;
    }
  }

  .input {
    background-color: variables.$main_bg_color;
    height: 48px;
  }

  .filename-input-wrapper,
  .comment-input-wrapper {
    position: relative;
    width: 510px;

    &::before {
      position: absolute;
      top: -5px;
      left: 13px;
      background-color: variables.$main_bg_color;
      font-size: 11px;
      padding: 0 3px;
      z-index: 1;
    }
  }
}

@media (max-width: variables.$desktop) {

  .file-container__file {

    .file-container__top-area {
      width: 620px;

      .button_ok {
        width: 60px;
      }

      .button_cancel {
        width: 59px;
      }
    }

    .file-container__bottom-area {

      .file-container__file-upload-date,
      .file-container__file-download-date {
        min-width: 110px;
      }

      .file-container__file-size {
        min-width: 99px;
      }
    }
  }
}

@media (max-width: variables.$tablet) {

  .file-container__file {
    padding: 0;
    border: none;
    margin-bottom: 20px;

    &:not(:last-child) {
      padding: 0 0 25px;
      border-bottom: 2px dashed variables.$main_color;
    }

    .file-info {
      margin-top: -1px;
      margin-bottom: 0;
    }

    .input {
      margin-bottom: 0;
    }

    .filename-input-wrapper,
    .comment-input-wrapper {
      width: 342px;
    }

    .file-container__top-area {
      width: 342px;

      .file-container__file-name-area,
      .file-container__file-comment-area,
      .file-container__file-external-link-area {
        flex-direction: column;
        column-gap: 0;
        margin-top: 10px;
      }

      .button_ok {
        width: 60px;
      }

      .button_cancel {
        width: 59px;
      }

      .file-container__filename-edit-button,
      .file-container__comment-edit-button,
      .file-container__file-external-link-button,
      .file-container__file-external-link {
        width: 310px;
        margin-top: 10px;
      }

      .file-container__file-external-link {
        margin-top: 0;
      }
    }

    .file-container__bottom-area {
      flex-wrap: wrap;
      width: 342px;

      .file-container__file-upload-date,
      .file-container__file-download-date {
        min-width: 110px;
      }

      .file-container__file-size {
        min-width: 310px;
      }

      .file-info:not(:first-child) {
        margin-left: 0;
      }

      .file-container__file-download-date {
        width: 134px;

        &.file-info {
          margin-left: 10px;
          margin-right: 0;
        }
      }

      .file-container__file-upload-date {
        width: 134px;
      }

      .button_download,
      .button_delete {
        width: 136px;
        margin-top: 10px
      }

      .file-container__file-size,
      .file-container__file-upload-date,
      .file-container__file-download-date {
        margin-top: 10px;
      }
    }
  }
}