$main_color: #4caf50;
$main_color_action: #43a047;

$main_bg_color: #ffffff;

$description_color: #b3b3b3;

$input_color_background: #f2f2f2;

$button_text_color: #ffffff;
$header_text_color: #ffffff;

$success_text_color: #4caf50;
$error_text_color: #ff0000;